* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font:16px/20px  "Microsoft YaHei UI";
}

.wrap {
    width: 100%;
    height: 100%;
    padding: 10% 0;
    position: fixed;
    opacity: 0.8;
    background: linear-gradient( 135deg,darkblue,greenyellow);
}

.container {
    width: 60%;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
}

.container input {
    width: 320px;
    display: block;
    height: 36px;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    line-height: 24px;
    margin: 32px auto;
    -webkit-transition: all 0s ease-in 0.1ms;
    -moz-transition: all 0s ease-in 0.1ms;
    transition: all 0s ease-in 0.1ms;
}

.container input[type="text"] ,.container input[type="password"] {
    background-color: #FFFFFF;
    font-size: 16px;
    color: #50a3a2;
}

.container input[type="submit"] {
    font-size: 16px;
    letter-spacing: 2px;
    color: #666666;
    background-color: #FFFFFF;
}
.container input:focus {
    width: 400px;
}
.container input[type='submit']:hover {
    cursor: pointer;
    width: 400px;
}

.to_login {
    color: darkblue;
}

.text{
    color: #e2dfe4;
}
