* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font:16px/20px  "Microsoft YaHei UI";
}

.wrap {
    width: 100%;
    height: 100%;
    padding: 10% 0;
    position: fixed;
    opacity: 0.8;
    /*background: linear-gradient( 180deg,darkblue,dodgerblue,white);*/
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    z-index: 1;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.blur {
    filter:blur(3px);
}
.container {
    width: 60%;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
}

.container input {
    width: 320px;
    display: block;
    height: 36px;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    line-height: 24px;
    margin: 32px auto;
}

.container input[type="text"] ,.container input[type="password"] {
    background-color: #FFFFFF;
    font-size: 16px;
    color: darkblue;
}

.container input[type="submit"] {
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    background-color: darkblue;
}
.container input:focus {
    width: 400px;
}

.container input[type='submit']:hover {
    cursor: pointer;
    width: 400px;
}


.url {
    color: darkblue;
}

.text{
    color: #e2dfe4;
}

/*这个属性可以隐藏*/
.hide {
    display: none;
}

/*定义提示窗口的style*/
.window {
    alignment: center;
    position: fixed; /*使用固定位置*/
    background: linear-gradient(grey,white);
    width: 400px;
    height: 200px;
    top: 50%;
    left:50%;
    margin-left: -200px;
    margin-top: -100px;
    border-radius: 0.5em;
    z-index: 3;
}

.message {
    color: white;
}

.button {
    width: 320px;
    display: block;
    height: 36px;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    line-height: 24px;
    margin: 32px auto;
}

