<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring News</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/comment.css">
    <!-- Scripts -->
    <script type="text/javascript" src="js/share.js"></script>
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="logo"><a href="#">Spring News </a></div>
    <div class="top" th:if="${user} == null"> <a href="login"> Login</a> <span>|</span> <a href="signup">Sign Up</a></div>
    <div class="top" th:if="${user} != null"> <a th:text="'Welcome ' +${user}"></a> <span>|</span> <a href="logout">Logout</a></div>
</header>

<!-- Main -->
<section id="main">
    <div class="inner">
        <!-- One -->
        <section id="one" class="wrapper style1">
            <header class="special">
                <h2 th:text="${article.header}"></h2>
                <p><span th:text="${article.time}"></span>    <span th:text="${article.upstream}"></span></p>
            </header>
            <!--显示文章内容-->
            <div class="content">
                <p th:text="${article.content}"></p>
            </div>
        </section>
        <!--评论区 -->
        <section id="commentArea" class="wrapper style2">
            <h4>评论区</h4>

            <!-- 输入评论 -->
            <form  onsubmit="return judgeComment()" th:action="@{'sendComment?articleID='+${article.id} +'&user='+${user}}" method="post">
                <textarea name="content" id="content" placeholder="Leave your comment here" rows="4"></textarea>
                <input type="submit" value="Send" style="display:block;margin:0 auto"/>
            </form>

            <h5>精彩评论</h5>
            <div lang="en-US" class="gitment-container gitment-comments-container">
                <span th:if="${coms.empty}">暂无评论哦，快成为第一个贡献评论的用户吧！</span>
                <ul class="gitment-comments-list" th:each="com : ${coms}">
                    <li class="gitment-comment">
                        <a class="gitment-comment-avatar">
                            <img class="gitment-comment-avatar-img" src="image/default-avatar.png">
                        </a>
                        <div class="gitment-comment-main">
                            <div class="gitment-comment-header">
                                <a class="gitment-comment-name">
                                    [[${com.userName}]]
                                </a>
                                <span class="gitment-comment-time">&nbsp;[[${com.date}]]</span>

                                <div class="gitment-comment-like-btn">
                                    <!-- fa-heart-o 是空心的心形，点赞后可以判断，将其设置为实心的心形'fa-heartbeat'-->
                                    <a th:class="${com.thumbUp}?'icon fa-heartbeat':'icon fa-heart-o'" viewBox="0 0 50 50 " th:href="@{'thumbUp?articleID='+${article.id}+'&cid='+${com.cid}+'&user='+${user}}"></a>
                                    [[${com.num}]]
                                </div>
                            </div>
                            <div class="gitment-comment-body gitment-markdown"><p>[[${com.content}]]</p></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>

<!-- Footer -->
<!--添加分享-->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a onclick="shareToRenren(event)" class="icon fa-renren"><span class="label">人人</span></a></li>
            <li><a onclick="shareToQzone(event)" class="icon fa-qq"><span class="label">QQ</span></a></li>
            <li><a onclick="shareToSinaWB(event)" class="icon fa-weibo"><span class="label">微博</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved. You can get the source code from <a href="https://github.com/czhnju161220026/WebApplicationDev-2019-work">Github</a>
    </div>
</footer>

<script th:inline="javascript">
    function judgeComment() {
        var content = document.getElementById("content").value;
        var Regx = /\S/;
        if(!Regx.test(content)) {
            alert("请输入评论内容！");
            return false;
        }

        user = /*[[${user}]]*/ null;
        if(user==null) {
            alert("评论前请先登录！")
            return false;
        }
        return true;
    }
</script>

</body>
</html>