<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Scripts -->
    <script type="text/javascript" src="js/share.js"></script>

</head>
<body onload="setPage()">

<!-- Header -->
<header id="header">
    <div class="logo"><a href="#"> Spring News</a></div>
    <div class="top"><a href="login"> Login</a> <span>|</span> <a href="signup">Sign Up</a></div>
</header>

<!-- Main -->
<section id="main">
    <div class="inner">
        <!-- One -->
        <section id="one" class="wrapper style1">
            <header class="special">
                <h2 th:text="${category}"></h2>
                <p th:text="${introduce}"></p>
            </header>
            <!--在这里使用thymeleaf each语法，显示所有的新闻变欧体和简介 -->
            <!--后期考虑添加分页效果 -->
            <div class="content">
                <h5 th:if="${articles.empty}">该板块暂无文章，去其他板块逛逛吧！</h5>
                <div th:each="article : ${articles}">
                    <a th:href="${article.url}">
                        <h4 th:text="${article.header}"></h4>
                    </a>
                    <p>[<span th:text="${article.upstream}"></span> ] <span th:text="${article.briefIntroduce}"></span>
                    </p>
                    <hr>
                </div>
                <hr>
                <div>
                    <ul class="pagination">
                        <li><a th:href="${lastPage}"><<</a></li>
                        <li th:each="page :${pages}" th:id="${page.id}">
                            <a th:href="${page.url}" th:text="${page.index}" th:class="${page.index} eq ${currentPage}? 'active':''"></a>
                        </li>
                        <li><a th:href="${nextPage}"> >> </a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>


<!-- Footer -->
<!--添加分享-->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a onclick="shareToRenren(event)" class="icon fa-renren"><span class="label">人人</span></a></li>
            <li><a onclick="shareToQzone(event)" class="icon fa-qq"><span class="label">QQ</span></a></li>
            <li><a onclick="shareToSinaWB(event)" class="icon fa-weibo"><span class="label">微博</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved. You can get the source code from <a
            href="https://github.com/czhnju161220026/WebApplicationDev-2019-work">Github</a>
    </div>
</footer>

</body>
</html>