<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringNews by springboot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Scripts -->
    <script type="text/javascript" src="js/share.js"></script>
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="logo"><a href="#">Spring News </a></div>
    <div class="top"> <a href="login"> Login</a> <span>|</span> <a href="signup">Sign Up</a></div>
</header>

<!-- Main -->
<section id="main">
    <div class="inner">
        <!-- 文章分类区 -->
        <section id="tech" class="wrapper">
            <div class="spotlight" onclick="window.open('articles?category=tech&page=1')">
                <div class="image flush"><img src="image/tech.jpg" alt="" /></div>
                <div class="inner">
                    <h3>科技</h3>
                    <p>Technology is the collection of techniques, skills, methods, and processes used in the production of goods or services or in the accomplishment of objectives, such as scientific investigation.</p>
                </div>
            </div>
            <div class="spotlight alt" onclick="window.open('articles?category=sport&page=1')">
                <div class="image flush"><img src="image/sport.jpg"  /></div>
                <div  class="inner">
                    <h3>体育</h3>
                    <p>Organized, well-structured youth sports and on-going physical activities can provide many benefits for children and adolescents. Positive experiences that sports and an active lifestyle bring play an important role in a young person’s life.
                    </p>
                </div>
            </div>
            <div class="spotlight" onclick="window.open('articles?category=economics&page=1')">
                <div class="image flush"><img src="image/economics.jpg" alt="" /></div>
                <div class="inner">
                    <h3>经济</h3>
                    <p>Economics is the important you get to know how societies, governments, businesses, households, and individuals allocate their scarce resources. The economics can also provide valuable knowledge for making decisions in everyday life. </p>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- Footer -->
<!--添加分享-->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a onclick="shareToRenren(event)" class="icon fa-renren"><span class="label">人人</span></a></li>
            <li><a onclick="shareToQzone(event)" class="icon fa-qq"><span class="label">QQ</span></a></li>
            <li><a onclick="shareToSinaWB(event)" class="icon fa-weibo"><span class="label">微博</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved. You can get the source code from <a href="https://github.com/czhnju161220026/WebApplicationDev-2019-work">Github</a>
    </div>
</footer>

</body>
</html>