<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in!</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/log_in.js"></script>
</head>
<body>
<div class="wrap" id="background">
    <div class="container">
        <h1>Log in</h1>

        <form  onsubmit="return judge()">
            <input type="text" placeholder="Your username" id="name" name="name"/>
            <input type="password" placeholder="password" id="pwd" name="pwd"/>
            <input type="submit" value="Log in"/>
            <p align="center" >
                <span class="text" style="color: blue"> Don't have an account ?</span>
                <a href="sign_up" class="url">Go and sign up</a>
            </p>
        </form>
    </div>
</div>
<!--在这里隐藏了一个控件，当hide被去除时，它会显示-->
<div class="window hide" id="window">
    <p  align="center" class="message" id="message">Wrong Passward, Please Confirm</p>
    <br><br>
    <input type="button" class="button" value="OK" onclick="retype()">
</div>
</body>
</html>