<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/sing_up.js" type="text/javascript"></script>
</head>
<body>
<div class="wrap">
    <div class="container">
        <h1>Sign Up</h1>
        <!-- 当点击submit时，先调用sing_up.js文件中的verify()函数进行输入合法性验证-->
        <!--如果验证成功，触发输入验证码页面-->
        <!--参照APPController类-->
        <!--如果一个控件需要传值给后端，那么需要有name属性 -->
        <form  method="post" onsubmit="return verify()" action="signup">
            <input type="text" placeholder="Your username" id="name" name="name"/>
            <input type="text" placeholder="Your email" id="mail" name="mail"/>
            <input type="password" placeholder="password" id="pwd1" name="pwd1"/>
            <input type="password" placeholder="Please confirm your password" id="pwd2" name="pwd2"/>
            <input type="submit" value="Sign up"/>
            <p align="center" >
                <span class="text" style="color: blue"> Already a member ?</span>
                <a href="login" class="url">Go and log in</a>
            </p>
            <p align="center" th:text="${msg}"></p>
        </form>
    </div>
</div>
</body>
</html>