<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/sign_up.css">
</head>
<body>
<div class="wrap">
    <div class="container">
        <h1>Sign Up</h1>
        <form>
            <input type="text" placeholder="Your username"/>
            <input type="text" placeholder="Your email"/>
            <input type="password" placeholder="password"/>
            <input type="password" placeholder="Please confirm your password"/>
            <input type="submit" value="Sign up"/>
            <p align="center" >
                <span class="text" style="color: blue"> Already a member ?</span>
                <a href="http://www.baidu.com" class="to_login">Go and log in</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>